___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
df = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [4]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [88]:
df['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [89]:
df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [90]:
df[df["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [91]:
df[df["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [92]:
df[df['TotalPayBenefits']== df['TotalPayBenefits'].max()]
#df.loc[df['TotalPayBenefits'].idxmax()]
#df[['TotalPayBenefits']].max()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [93]:
df[df["TotalPayBenefits"] == df["TotalPayBenefits"].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [8]:
df.groupby("Year").mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [27]:
df["JobTitle"].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [28]:
df["JobTitle"].nunique()

2159

** What are the top 5 most common jobs? **

In [134]:
df["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [37]:
df["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [55]:
sum(df[df["Year"]==2013]['JobTitle'].value_counts()==1)

202

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [142]:
df[df["JobTitle"].apply(lambda x:"chief" in x.lower().split())]["JobTitle"].count()

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [133]:
df

                                                JobTitle    BasePay
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                        CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                        CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
5                              ASSISTANT DEPUTY CHIEF II  118602.00
6                     BATTALION CHIEF, (FIRE DEPARTMENT)   92492.01
7                         DEPUTY DIRECTOR OF INVESTMENTS  256576.96
8                     BATTALION CHIEF, (FIRE DEPARTMENT)  176932.64
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)  285262.00
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)  194999.39
11                       CAPTAIN III (POLICE DEPARTMENT)   99722.00
12                           EXECUTIVE CONTRACT EMPLOYEE  294580.02
13                                     DEPARTMENT HEAD V  271329.03
14                    BATTALION CHIEF, (FIRE DEPARTMENT)  174872.64
15                    COMMANDER III, (POLICE DEPARTMENT)  198778.01
16                                     DEPARTMENT HEAD V  268604.57
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES  140546.87
18                    BATTALION CHIEF, (FIRE DEPARTMENT)  168692.63
19                            ASSISTANT MEDICAL EXAMINER  257510.59
20                            ASSISTANT MEDICAL EXAMINER  257510.48
21                            ASSISTANT MEDICAL EXAMINER  257510.44
22                             CAPTAIN, FIRE SUPPRESSION  140546.88
23                    BATTALION CHIEF, (FIRE DEPARTMENT)  168692.63
24                             CAPTAIN, FIRE SUPPRESSION  140546.86
25                                       CHIEF OF POLICE  256470.41
26                             CAPTAIN, FIRE SUPPRESSION   92080.80
27                    BATTALION CHIEF, (FIRE DEPARTMENT)  168692.59
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)  261717.60
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  246225.60
...                                                  ...        ...
148624                                      Senior Clerk       0.00
148625                                  Registered Nurse       0.00
148626                                     Account Clerk       0.00
148627                                   General Laborer       0.00
148628                                   General Laborer       0.00
148629                                Transcriber Typist       0.00
148630                                         Carpenter       0.00
148631                       Communications Dispatcher 1       0.00
148632                        Protective Services Worker       0.00
148633                                   General Laborer       0.00
148634                               Transit Car Cleaner       0.00
148635                                   General Laborer       0.00
148636                               Arborist Technician       0.00
148637                            Transit Fare Inspector       0.00
148638                                       Electrician       0.00
148639                                         Custodian       0.00
148640                           Parking Control Officer       0.00
148641                                      Museum Guard       0.00
148642                                       Sign Worker       0.00
148643                           Parking Control Officer       0.00
148644                      Stationary Eng, Sewage Plant       0.00
148645                         Human Services Technician       0.00
148646                                      Not provided        NaN
148647                       Communications Dispatcher 2       0.00
148648                                         Custodian       0.00
148649                                         Custodian       0.00
148650                                      Not provided        NaN
148651                                      Not provided        NaN
148652                                      Not provided        NaN
148653                        Counselor, Log Cabin Ranch       0.00

[148654 rows x 2 columns]

# Great Job!